*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
}

/*ASIDE*/

.aside{
    display: inline-block;
    width: 30%;
}

.aside img{
    display: block;
    width: 90%;
    margin-left: 10%;
    margin-top: 20px;
}

/*MAIN*/

.main{
    float: right;
    width: 60%;
    margin-right: 7%;
}

/*INTRO*/

.intro_section h1{
    font-family: 'Noto Serif', serif;
    font-weight: lighter;
    font-size: 40px;
    margin-bottom: 10px;
}

.intro_section p{
    font-size: 17px;
}

.intro_section{
    margin-top: 25px;
}

.intro_section a{
    text-decoration: none;
    color: rgb(0, 113, 227);
    cursor: pointer;
}

/*FORM*/

.form_section{
    margin-top: 20px;
}

.fieldset{
    border: 0px;
}

.legend{
    display: none;
}

.label{
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 17px;
}

.input_form{
    display: block;
    width: 500px;
    height: 35px;
    padding-left: 10px;
    margin-bottom: 25px;
}

.password_requirements{
    width: 100%;
    margin-bottom: 30px;
}

.lists{
    display: inline-block;
    width: 45%;
    height: 100%;
}

.lists ul{
    height: 100%;
}

.lists li{
    list-style-position: inside;
}

.submit_button{
    display: inline-block;
    padding: 10px 35px;
    margin-right: 10px;
    border: 1px solid #b9b9b9;
    color: #b9b9b9;
    cursor: pointer;
}

.check{
    display: inline-block;
    width: 70%;
    vertical-align: middle;
}

/*FORM DETAIL*/

.form_detail{
    margin-top: 30px;
}

.form_detail a{
    color: rgb(0, 113, 227);
    cursor: pointer;
}